{% extends "bootstrap/base.html" %}
{% block content %}

<h1>Gene List Analysis</h1>
<ul>
    {% for g in gene_list %}
        <li>{{g}}</li>
    {% endfor %}
</ul>
<h1>Matrix</h1>
<table class="">
{% for row in matrix %}
<tr>
{% for col in row %}
<td style="max-width:170px">
{{col}}
</td>
{% endfor %}
</tr>
{% endfor %}

</table>


<h1>Cypher examples</h1>
<h2>Cypher 1</h2>
<code>
    {{ cypher1}}
</code>
<h2>Cypher 2</h2>
{% for c in cypher2 %}
<h3>Another Cypher</h3>
<code>
    {{ c }}
</code>
{% endfor %}
{% endblock %}