<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js" integrity="sha256-k9RyZhvMj2bg0fd8L3IE41t0HpTXnivMoePN/Ksq250=" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="https://d3js.org/d3-force.v2.min.js"></script>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-ease.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>

<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="https://d3js.org/d3-transition.v1.min.js"></script>
<script src="https://d3js.org/d3-force.v1.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='abc.js') }}"></script>
<script src="{{ url_for('static', filename='reactomejs.js') }}"></script>
<script src="{{ url_for('static', filename='reactomejsquiz.js') }}"></script>
<script src="{{ url_for('static', filename='moduletest.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='disjointgraph.js') }}" type="module"></script>

<style>
text {
    font-family: sans-serif;
    font-size: 10px;
  }


</style>


<div id="viewer"><svg id="svg_viewer"></svg></div>


<script type="module">
import {disjointGraph} from '/static/disjointgraph.js';
d3.json('/static/sample_json.json', function(data) {
    
    disjointGraph(data);

})
// const abc = await import(moduleSpecifier);
</script>
<div id="graph_container"></div>
